*{
    border: 0px;
    border-radius: 15px;
    margin: 0;
}

@font-face{
    font-family: 'Gilroy';
    src: url(Gilroy-FREE/Gilroy-Light.otf);
}

@font-face{
    font-family: 'Gilroy B';
    src: url(Gilroy-FREE/Gilroy-ExtraBold.otf);
}

body{
    background-color:#F9F1F0;
    font-family: 'Gilroy';
}

#cx{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 10%);
    height: 100vh;
    margin-bottom: 0;
}

#cx div{
    margin: 15px;
}

#nav{
    background-color: #FADCD9;
    margin-bottom: 20px;
    display: flex;
    height: 80px;
    text-align: center;
    justify-content: space-between;
    padding: 0 24px 0 24px;
    align-items: center;
    margin: 15px;
}

#bt a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

#d1{
    background-color: #FADCD9;
    grid-column: 1 / 6;
    grid-row: 1 / 8;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}
#d1 div{
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    font-size: 60px;
}
#d1 img{
    grid-column: 4/5;
    grid-row: 1/5;
    margin: 20px;
}

#d2 img{
    width: 100%;
    height: 100%;
}

#d2{
    grid-column: 6 / 9;
    grid-row: 1 / 8;
}

#d3{
    background-color: #FADCD9;
    grid-column: 9 / 13;
    grid-row: 1 / 11;
    align-items: center;
    text-align: center;
}

#d3 p{
    font-weight: bold;
    font-size: 25px;
    text-align: start;
    margin: 30px;
    margin-bottom: 30px;
}

.c2{
    border-top: 3px solid #ff9f92;
    padding-top: 30px;
    margin-top: 40px;
    margin-left: px;
    border-radius: 0;
}

.c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding-right: 30px;
    margin-bottom: 0;
}

.a2{
    width: 20px;
}

#d4{
    background-color: #FADCD9;
    grid-column: 1 / 5;
    grid-row: 8 / 13;
}

#d4 p{
    margin: 30px;
    margin-top: 50px;
    font-size: 20px;
}

#d4 img{
    width: 50px;
    margin: 30px;
}

#d5{
    background-color: #F8AFA6;
    grid-column: 5 / 9;
    grid-row: 8 / 13;
}

#d5 div{
    justify-content: space-between;
    display: flex;
    margin: 30px;
}

#d5 p{
    font-size: 20px;
}

#d5 .pp{
    font-weight: bolder;
    font-size: 50px;
    margin: 20px;
    margin-top: 170px;
}

#d6{
    background-color: #FADCD9;
    grid-column: 9 / 13;
    grid-row: 11 / 13;
}

#d6 div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 50px;
}